<%= form_for(@license) do |f| %>
  <% if @license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@license.errors.count, "error") %> prohibited this license from being saved:</h2>

      <ul>
      <% @license.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :license_id %><br>
    <%= f.number_field :license_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :adam_id %><br>
    <%= f.number_field :adam_id %>
  </div>
  <div class="field">
    <%= f.label :product_type_id %><br>
    <%= f.number_field :product_type_id %>
  </div>
  <div class="field">
    <%= f.label :its_id_hash %><br>
    <%= f.text_field :its_id_hash %>
  </div>
  <div class="field">
    <%= f.label :pricing_param %><br>
    <%= f.text_field :pricing_param %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :product_type_name %><br>
    <%= f.text_field :product_type_name %>
  </div>
  <div class="field">
    <%= f.label :is_irrevocable %><br>
    <%= f.check_box :is_irrevocable %>
  </div>
  <div class="field">
    <%= f.label :client_user_id_str %><br>
    <%= f.text_field :client_user_id_str %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
