<h1>ライセンス一覧</h1>

<table>
  <thead>
    <tr>
      <th>ライセンスID</th>
      <th>iTSアプリID</th>
      <th>状態</th>
      <th>製品種別</th>
      <th>返却不可</th>
      <th>利用者</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @licenses.each do |license| %>
      <tr>
        <td><%= license.license_id %></td>
        <td><%= link_to "#{license.adam_id}", "https://itunes.apple.com/jp/app/id#{license.adam_id}?mt=8", target: "_blank" %></td>
        <td><%= license.status %></td>
        <td><%= license.product_type_name %></td>
        <td><%= license.is_irrevocable %></td>
        <td><%= link_to license.user.email, license.user if license.user.present? %></td>
        <td><%= link_to '詳細', license %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'VPPストアの情報と同期する', sync_licenses_path %>
