<header class="local_header">
  <ul class="tabnav">
    <li class="tabnav"><%= link_to '利用者一覧', users_path %></li>
    <li class="tabnav selected"><%= link_to 'ライセンス一覧', licenses_path %></li>
  </ul>
</header>

<p id="notice"><%= notice %></p>

<h1>ライセンス一覧</h1>

<table>
  <thead>
    <tr>
      <th><%= Content.human_attribute_name 'name' %></th>
      <th><%= License.human_attribute_name 'status' %></th>
      <th><%= User.model_name.human %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @licenses.each do |license| %>
      <tr>
        <td><%= link_to "#{license.content.try(:name)}", its_jp_app_url(license.adam_id), target: "_blank" %></td>
        <td><%= license.status %></td>
        <td><%= link_to license.user.email, license.user if license.user.present? %></td>
        <td><%= link_to '詳細', license %></td>
        <td><%= link_to '割り当て解除', disassociate_path(license), confirm: 'よろしいですか？' if license.associated? %></td>
        <td><%= link_to 'ダウンロード先をメールする', notify_license_path(license) if license.associated? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class='sync'>
  <%= link_to 'VPPストアの情報と同期する', sync_licenses_path %>
</div>
