<p id="notice"><%= notice %></p>

<p>
  <strong>ライセンスID:</strong>
  <%= @license.license_id %>
</p>

<p>
  <strong>VPPストア利用者ID:</strong>
  <%= @license.user_id %>
</p>

<p>
  <strong>iTSアプリID(Adam):</strong>
  <%= @license.adam_id %>
</p>

<p>
  <strong>種別:</strong>
  <%= @license.product_type_id %>
</p>

<p>
  <strong>iTS ID ハッシュ:</strong>
  <%= @license.its_id_hash %>
</p>

<p>
  <strong>価格区分:</strong>
  <%= @license.pricing_param %>
</p>

<p>
  <strong>状態:</strong>
  <%= @license.status %>
</p>

<p>
  <strong>製品種別:</strong>
  <%= @license.product_type_name %>
</p>

<p>
  <strong>返却不可:</strong>
  <%= @license.is_irrevocable %>
</p>

<p>
  <strong>利用者ID:</strong>
  <%= @license.client_user_id_str %>
</p>

<% if @license.status == "Available" %>
<h2>利用者一覧</h2>
<table>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to "割り当て" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br/>

<%= link_to '戻る', licenses_path %>
