<header>
  <div id="tabnav">
    <ul class="tabnav">
      <li><%= link_to '利用者一覧', users_path %></li>
      <li class="selected"><%= link_to 'ライセンス一覧', licenses_path %></li>
    </ul>
  </div>
  <div id="cmdnav">
    <ul class="cmdnav">
      <li>ライセンスを割り当て中</li>
    </ul>
  </div>
</header>

<div id="main">
<p id="notice"><%= notice %></p>

<h1>
  <%= @license.content.name %>
</h1>

<% if @license.status == "Available" %>
<strong>割り当て候補</strong>
<table>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to "割り当て", associate_path(user_id: user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
