<p id="notice"><%= notice %></p>

<p>
  <strong>License:</strong>
  <%= @license.license_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @license.user_id %>
</p>

<p>
  <strong>Adam:</strong>
  <%= @license.adam_id %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @license.product_type_id %>
</p>

<p>
  <strong>Its id hash:</strong>
  <%= @license.its_id_hash %>
</p>

<p>
  <strong>Pricing param:</strong>
  <%= @license.pricing_param %>
</p>

<p>
  <strong>Status:</strong>
  <%= @license.status %>
</p>

<p>
  <strong>Product type name:</strong>
  <%= @license.product_type_name %>
</p>

<p>
  <strong>Is irrevocable:</strong>
  <%= @license.is_irrevocable %>
</p>

<p>
  <strong>Client user id str:</strong>
  <%= @license.client_user_id_str %>
</p>

<%= link_to 'Back', licenses_path %>
