<header class="local_header">
  <ul class="tabnav">
    <li class="tabnav"><%= link_to '利用者一覧', users_path %></li>
    <li class="tabnav"><%= link_to 'ライセンス一覧', licenses_path %></li>
    <li class="tabnav selected">ヘルプ</li>
  </ul>
</header>

<div id="help_container">
<h1>利用者の登録方法</h1>
<h2>招待メールの受信から割り当ての許可まで</h2>

<ol>
  <li>招待メールを開きます。<br>
  <%= image_tag "invitation_mail_1_1.png" %><br>
  <%= image_tag "invitation_mail_1_2.png" %>
  </li>
  <br>
  <li>「Sign In」ボタンをタップします。<br>
  <%= image_tag "invitation_mail_2.png" %>
  </li>
  <br>
  <li>Apple ID のパスワードを入力します。<br>
  <%= image_tag "invitation_mail_3.png" %>
  </li>
  <br>
  <li>
  「Agree」ボタンをタップします。<br>
  <%= image_tag "invitation_mail_4_1.png" %><br>
  <%= image_tag "invitation_mail_4_2.png" %>
  </li>
  <br>
  <li>登録が完了しました。<br>
  <%= image_tag "invitation_mail_5.png" %><br>
  </i>
</ol>
</div>
