<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Client user id str</th>
      <th>Email</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.client_user_id_str %></td>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id='sync_users'>
  <%= link_to 'Sync Users', sync_users_path %>
</div>
<%= link_to 'New User', new_user_path %>
