<h1>利用者一覧</h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name 'email' %></th>
      <th><%= User.human_attribute_name 'status' %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td><%= link_to '詳細', user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: 'よろしいですか？' } %></td>
        <td><%= link_to '招待メールを送信', invite_user_path(user), data: { confirm: 'よろしいですか？' } if user.can_invite? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id='sync_users'>
  <%= link_to 'VPPストアの情報と同期する', sync_users_path %>
</div>
<%= link_to '利用者を追加する', new_user_path %>
