<p id="notice"><%= notice %></p>

<p>
  <strong>Client user id str:</strong>
  <%= @user.client_user_id_str %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>User ID (VPP):</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>Invite code:</strong>
  <%= @user.invite_code %>
</p>

<p>
  <strong>Invite URL:</strong>
  <%= @user.invite_url %>
</p>

<p>
  <strong>Its id hash:</strong>
  <%= @user.its_id_hash %>
</p>

<h2>ライセンス一覧</h2>
<table>
  <tbody>
    <tr>
      <% @user.licenses.each do |license| %>
        <td><%= link_to "#{license.adam_id}", "https://itunes.apple.com/jp/app/id#{license.adam_id}?mt=8", target: "_blank" %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<br/>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
