<header>
  <div id="tabnav">
    <ul class="tabnav">
      <li class="selected"><%= link_to '利用者一覧', users_path %></li>
      <li><%= link_to 'ライセンス一覧', licenses_path %></li>
    </ul>
  </div>
  <div id="cmdnav">
    <ul class="cmdnav">
      <li>利用者の詳細を表示中</li>
    </ul>
  </div>
</header>

<div id="main">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= User.human_attribute_name 'client_user_id_str' %></strong>
  <%= @user.client_user_id_str %>
</p>

<p>
  <strong><%= User.human_attribute_name 'email' %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name 'status' %></strong>
  <%= @user.status.capitalize %>
</p>

<p>
  <strong><%= User.human_attribute_name 'user_id' %></strong>
  <%= @user.user_id %>
</p>

<p>
  <strong><%= User.human_attribute_name 'invite_code' %></strong>
  <%= @user.invite_code %>
</p>

<p>
  <strong><%= User.human_attribute_name 'invite_url' %></strong>
  <%= @user.invite_url %>
</p>

<p>
  <strong><%= User.human_attribute_name 'its_id_hash' %></strong>
  <%= @user.its_id_hash %>
</p>

<strong>割り当て済みライセンス</strong>
<table>
  <tbody>
    <% @user.licenses.each do |license| %>
      <tr>
        <td><%= link_to "#{license.content.try(:name)}", its_jp_app_url(license.adam_id), target: "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
