<p id="notice"><%= notice %></p>

<p>
  <strong>Client user id str:</strong>
  <%= @user.client_user_id_str %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>User ID (VPP):</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>Invite code:</strong>
  <%= @user.invite_code %>
</p>

<p>
  <strong>Invite URL:</strong>
  <%= @user.invite_url %>
</p>

<p>
  <strong>Its id hash:</strong>
  <%= @user.its_id_hash %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
