<!DOCTYPE html>
<html>
<head>
  <title>Vpp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to '利用者一覧', users_path %>
<%= link_to 'ライセンス一覧', licenses_path %>

<%= yield %>

<br>
<br>
<hr>
<br>
<strong>VPP とは</strong>
<P>アップル社が企業向けに提供しているiOSアプリの一括購入プログラムです。<br>
詳しい説明とプログラムの参加方法はアップル社のページをご覧ください。<br>
<a href="http://www.apple.com/jp/business/vpp/" target="_blank">Apple - ビジネス向けのVolume Purchase Program</a></p>
<p>弊社が提供するサービスと VPP を組み合わせることで、<br>
従業員にアプリのライセンスを割り当て・解除することができます。</p>
準備
<ul>
  <li>プログラムの参加（アップル社にアプリ管理者を登録します）</li>
  <li>管理者の登録</li>
  <li>利用者の登録</li>
</ul>
配備
<ul>
  <li>ライセンスの購入（アップル VPP ストアで購入します）</li>
  <li>ライセンスの割り当て</li>
  <li>ライセンスの解除</li>
</ul>

</body>
</html>
