<!DOCTYPE html>
<html>
<head>
  <title>Vpp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="global_header">
  <logo></logo>
  <current_user></current_user>
</header>

<header class="local_header">
  <ul class="tabnav">
    <li class="tabnav selected"><%= link_to '利用者一覧', users_path %></li>
    <li class="tabnav"><%= link_to 'ライセンス一覧', licenses_path %></li>
  </ul>
</header>

<%= yield %>

<br>
<br>
<hr>
<br>
<strong>VPP とは</strong>
<P>アップル社が企業向けに提供しているiOSアプリの一括購入プログラムです。<br>
詳しい説明とプログラムの参加方法はアップル社のページをご覧ください。<br>
<a href="http://www.apple.com/jp/business/vpp/" target="_blank">Apple - ビジネス向けのVolume Purchase Program</a></p>
<p>弊社が提供するサービスと VPP を組み合わせることで、<br>
アプリ利用者にライセンスを割り当て・解除することができます。</p>
準備
<ol>
  <li>プログラムの参加（アップル社にアプリ管理者を登録します）</li>
  <li>管理者の登録</li>
  <li>利用者の登録</li>
</ol>
配備
<ol start="4">
  <li>ライセンスの購入（アップル VPP ストアで購入します）</li>
  <li>ライセンスの割り当て</li>
  <li>ライセンスの解除</li>
</ol>

<br>

<strong>利用者の登録方法</strong>
<br>
管理者
<ol>
  <li>利用者一覧画面 - 「利用者を登録する」リンクをクリックします。</li>
  <li>利用者登録画面 - メールアドレスを入力し「登録する」ボタンをクリックします。<br>利用者のiOS端末で受信できるメールアドレスを指定します。</li>
  <li>「戻る」リンクをクリックします。</li>
  <li>利用者一覧画面 - 「VPPストアの情報と同期する」リンクをクリックします。<br>利用者の状態は「Registered」と表示されます。</li>
  <li>「招待メールを送信」リンクをクリックします。</li>
</ol>
利用者
<ol start="6">
  <li>iOS端末で招待メールを受信して、コンテンツの割り当てを許可します。<br>
  <%= link_to "詳細はこちらをご覧ください", static_pages_invitation_mail_path %>
  <%= link_to "（別ウィンドウで開く）", static_pages_invitation_mail_path, target: :_blank %>
  </li>
</ol>
管理者
<ol start="7">
  <li>利用者一覧画面 - 「VPPストアの情報と同期する」リンクをクリックします。<br>利用者の状態は「Associated」と表示されます。</li>
</ol>
</body>
</html>
